@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

section, header {
  padding-bottom: 2vh;
}

ul {
  padding-bottom: 1vh;
}

#root {
  position: absolute;

  height: 100%;
  width: 50%;

  left: 50%;
  transform: translateX(-50%);
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;

  padding-top: 1vh;
}

p {
  font-weight: 400;
}

a {
  font-weight: 350;

  text-decoration: none;

  color: cadetblue;
}

a:hover {
  color: darkcyan;
}

blockquote {
  background-color: #f8f8f8;
}

* {
  margin: 0;
}
